---
# {{ ansible_managed }}
- hosts: web-servers
  remote_user: vagrant
  sudo: true
  vars:
    - src_sync_dir: /usr/share/nginx/html/wordpress
    - dst_sync_dir: /usr/share/nginx/html
  tasks:
    - name: sync wordpress sites
      synchronize: src={{ src_sync_dir }} dest={{ dst_sync_dir }}
      when: inventory_hostname != "{{ ansible_hostname }}"
