---
# {{ ansible_managed }}
- hosts: web-servers
  remote_user: vagrant
  sudo: true
  vars:
  tasks:
    - name: sync wordpress sites
      synchronize: src={{ wordpress_src_sync_dir }} dest={{ wordpress_dst_sync_dir }}
      when: inventory_hostname != "{{ ansible_hostname }}"
