upstream {{ item.name }} {
{%  if item.load_balancing_method is defined and item.load_balancing_method != "round_robin" %}
      {{ item.load_balancing_method }};
{%  endif %}
{%  for server in item.backend_servers %}
      server {{ server }}:{{ item.backend_port }};
{%  endfor %}
}
server {
      listen {{ item.frontend_port }};
{% if item.server_name is defined %}
      server_name {{ item.server_name }};
{% endif %}
{% if item.location is defined %}
      location {{ item.location }} {
          proxy_pass http://{{ item.name }};
{%   if item.proxy_headers is defined %}
{%     for header in item.proxy_headers %}
          proxy_set_header {{ header }};
{%     endfor %}
{%   endif %}
{%   if item.health_checks is defined %}
{%     for check in item.health_checks %}
{%       if check == "default" %}
          health_check;
{%       endif %}
{%       if check != "default" %}
          health_check {{ check }};
{%       endif %}
{%     endfor %}
{%   endif %}
      }
{% endif %}
{% if item.location is not defined %}
      proxy_pass http://{{ item.name }};
{%   if item.proxy_headers is defined %}
{%     for header in item.proxy_headers %}
      proxy_set_header {{ header }};
{%     endfor %}
{%   endif %}
{%   if item.health_checks is defined %}
{%     for check in item.health_checks %}
{%       if check == "default" %}
      health_check;
{%       endif %}
{%       if check != "default" %}
      health_check {{ check }};
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
}
